{{ define "main" }}
    {{ .Content }}
    <hr>
    <ul class="blog-list">
        {{ range .Pages }}
            <li>
                <article>
                    <a href="{{.Permalink}}">{{.Title}}</a>
                    <h4>{{.Date.Format "January 2, 2006"}}</h4>
                    
                    {{ truncate 50 .Content }}
                    {{ with .GetTerms "tags"}}
                        <ul class="tags">
                            {{ range . }}
                                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                            {{ end }}
                        </ul>
                    {{ end }}
                </article>
            </li>
        {{ end }}
    </ul>
{{ end }}