<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    {{ $opts := dict "transpiler" "dartsass" "targetPath" "css/style.css" }}
    {{ with resources.Get "sass/main.sass" | toCSS $opts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{ end }}
      
</head>
{{ $image := resources.Get "images/pexels-scott-webb-2346594.jpg" }}
{{ $image := $image.Fit "1920x1080" }}


<body style="background-image: url('{{ $image.Permalink }}')">
    <main aria-role="main">
        <header>
            <h1>{{ .Site.Title }}</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </header>
        <hr>
        {{ block "main" . }}
        {{ end }}
    </main>
</body>
</html>
