{{ define "main" }}
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fuga quasi tenetur pariatur, dolore provident cum voluptatum officiis consectetur, perspiciatis deserunt explicabo. Alias, laudantium dolorem inventore minus a quia ipsam.
  Quos, totam vitae hic, vero accusamus error, ab molestiae adipisci corrupti nulla tempore. Incidunt ab ut ratione quia et, perferendis corporis nemo asperiores. Atque, temporibus. Molestias culpa quis iusto expedita?
  Error, eveniet illum. Cumque repellendus pariatur voluptate fuga voluptatum blanditiis deserunt esse harum, atque quisquam consequatur iste natus? Sapiente ut reiciendis placeat adipisci error earum, assumenda culpa magni alias aspernatur.
  Nulla ipsa accusamus harum, maiores hic quaerat neque in nobis. Assumenda natus explicabo totam. Amet dolores quas corporis dolorem nulla iusto laboriosam incidunt voluptas! Quos quibusdam obcaecati accusantium deserunt blanditiis!
  Itaque nisi asperiores doloribus harum quasi iste. Harum provident modi ipsam maxime quia eos voluptate dolore voluptatum voluptatibus, praesentium necessitatibus veritatis odit, libero, culpa incidunt dolores. Suscipit ipsa fuga optio.
</p>
{{ end }}